@import '_common.scss';

html,
body,
div,
ul,
li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.main-view {
    height: 100%;
}

.right-view {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    background-color: #334654;
}

.content {
    margin-top: 50px;
    margin-left: 50px;
    
    .top {
        .heading {
            @include font(40px, 400);
            color: #ffffff;
        }
        
        .description {
            @include font(15px, 500);
            color: #8399b9;
            margin-top: 10px;
        }
    }
}

.component-checkbox {
    .checkbox {
        width: 40px;
        height: 40px;
        background: #192e3a;
        cursor: pointer;
        
        .ion-checkmark:before {
            font-size: 23px;
            margin-left: 10px;
            margin-top: 8px;
            opacity: 0.1;
        }
        
        .active {
            &:before {
                color: #189ac4;
                opacity: 1;
            }
        }
    }
    
    .selection {
        position: absolute;
        top: 70px;
        width: 250px;
        right: -10px;
        padding: 10px;
    
        .controls {
            color: #ffffff;
            padding: 10px 25px;
            @include font(16px, 500);
            line-height: 120%;
            text-transform: uppercase;
            float: left;
            border-radius: 3px;
            border: 2px solid transparent;
            cursor: pointer;
        }
        
        .cancel:hover {
            border: 2px solid #189ac4;
        }
        
        .save {
            float: right;
            color: #ffffff;
            background-color: #189ac4;
        }
        
        .save:hover {
            color: #189ac4;
            background-color: #ffffff;
        }
        
        .saved {
            cursor: default;
            border: 2px solid #8da3c5;
            color: #8da3c5;
            float: right;
        }
    }
}