@import '_common.scss';

.menu {
    width: 300px;
    height: 100%;
    padding-top: 50px;  
    border: 2px solid #1b2731;
    background-color: #203440;

    .placeholder {
        text-align: center;
        
        .profile-image {
            border-radius: 50%;
            width: 160px;
            height: 155px;
            border: 10px solid #1a2732;
        }
    }
    
    .name {
        text-align: center;
        @include font(30px, 300);
        color: #ffffff;
        margin-top: 20px;
    }
    
    .menu-list {
        list-style: none;
        margin-top: 40px;
        
        li {
            color: #8399b9;
            @include font(17px, 500);
            padding: 15px 30px;
            cursor: pointer;
            
        }
        
        .active, li:hover {
            color: #ffffff;
            background-color: #17232d;
        }
        
        
        i {
            margin-right: 5px;
        }
    }
}