@import '_common.scss';

.settings {
    .general {
        margin-top: 30px;
        max-width: 900px;
        
        .title {
            @include font(18px, 500);
            text-transform: uppercase;
            color: #ffffff;
            padding-bottom: 15px;
            border-bottom: 1px solid #2b3f4b;
        }
        
        .option {
            margin-top: 10px;
            padding: 15px 0px;
            position: relative;
            
            .text {
                @include font(15px, 500);
                color: #8399b9;
                display: inline-block;
            }
            
            .component-checkbox {
                margin: 0; 
                float: right;
            }
        }
    }
}