<div class="menu">
    <div class="left-menu">
            
        <div class="placeholder">
            <img class="profile-image" src="images/bean.jpg"/>
        </div>
        
        <div class="name">username</div>
        
        <ul class="menu-list">
            <li ui-sref="main.account" ng-class="{active: isCurrentState('main.account')}">
                <i class="icon ion-ios-people"></i>
                My Account
            </li>
            <li ui-sref="main.profile" ng-class="{active: isCurrentState('main.profile')}">
                <i class="icon ion-eye"></i>
                My Profile
            </li>
            <li ui-sref="main.settings" ng-class="{active: isCurrentState('main.settings')}">
                <i class="icon ion-ios-browsers-outline"></i>
                Settings
            </li>
            <li ui-sref="main.logout" ng-class="{active: isCurrentState('main.logout')}">
                <i class="icon ion-log-out"></i>
                Logout
            </li>
        </ul>
    </div>
</div>
    
<div ui-view="right-view" class="right-view"></div>
