<div class="content settings" ng-init="initSettings()">
    <div class="top">
        <div class="heading">Settings</div>
        <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
    
    <div class="general">
        <div class="title">
            General
        </div>
        <component-confirmation>
            <div class="option">
                <div class="text">Launch on PC start</div>
                <component-checkbox ng-model="model.launch"></component-checkbox>
            </div>

            <div class="option">
                <div class="text">Launch minimized in system tray</div>
                <component-checkbox options="true" on-save="save('minimized', model.minimized)" ng-model="model.minimized"></component-checkbox>
            </div>
        </component-confirmation>
    </div>
</div>